<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VK.Properties.Settings>
            <setting name="isUseAutoLogOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minAudiosCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxAudiosCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ProgramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingPath" serializeAs="String">
                <value />
            </setting>
            <setting name="isCanBeInTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isOpenFolderAfterLoad" serializeAs="String">
                <value>True</value>
            </setting>
        </VK.Properties.Settings>
    </userSettings>
</configuration>