<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VKMusicSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VKMusicSync.Properties.Settings>
            <setting name="BackgroundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadFolderPath" serializeAs="String">
                <value>\Audio</value>
            </setting>
            <setting name="ProxyAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThreadCountToUse" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LoadInfoFromLastFm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseProxyCredintial" serializeAs="String">
                <value>False</value>
            </setting>
        </VKMusicSync.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Expression.Drawing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GalaSoft.MvvmLight" publicKeyToken="e7570ab207bcb616" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.37222" newVersion="5.2.0.37222" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
