<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VKSyncMusic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VKSyncMusic.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>gfhfg</value>
            </setting>
            <setting name="BackgroundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadFolderPath" serializeAs="String">
                <value>\Audio</value>
            </setting>
            <setting name="ProxyAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThreadCountToUse" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LoadInfoFromLastFm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseProxyCredintial" serializeAs="String">
                <value>False</value>
            </setting>
        </VKSyncMusic.Properties.Settings>
    </userSettings>
</configuration>